.gradient {
  background: -webkit-linear-gradient(left, #604DBC, #15E8BA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBackground {
  background: linear-gradient(309.43deg, #604DBC 1.49%, #15E8BA 98.51%);
}

.gradient-right {
  background: linear-gradient(90deg, #604DBC 0%, #15E8BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-background {
  background: linear-gradient(328.59deg, #8EC0D7 11.96%, #7F9ECF 33.35%, #5E4CB6 57.62%);
}

.border {
  border: 1px solid rgba(254, 254, 254, 0.12);
  transform: rotate(0.05deg);
}

.text-space {
  text-indent: 140px;
}

.text-space2 {
  text-indent: 170px;
}

.btn {
  background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
  box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
  border-radius: 31px;
  font-size: 14px;
  width: 140px;
  padding: 10px;
}

.btn-join {
  background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
  box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
  border-radius: 101px;
  font-size: 16px;
  width: 338px;
  height: 71px;
}

.btn-join-sm {
  background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
  box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
  border-radius: 101px;
  font-size: 14px;
  width: 290px;
  height: 41px;
}

.btn-lg {
  background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
  box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
  border-radius: 83px;
  font-size: 14px;
  width: 220px;
  height: 74.21px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.btn-sm {
  background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
  box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
  border-radius: 83px;
  font-size: 14px;
  width: 75.74px;
  height: 74px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width:460px) {
  .btn-lg {
    background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
    box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
    border-radius: 83px;
    font-size: 14px;
    width: 147px;
    height: 40.9px;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }

  .btn-sm {
    background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
    box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
    border-radius: 83px;
    font-size: 14px;
    width: 43.74px;
    height: 42px;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
  }
}